<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>163</TotalTime><Application>LibreOffice/6.4.7.2$Linux_X86_64 LibreOffice_project/40$Build-2</Application><Pages>2</Pages><Words>60</Words><Characters>455</Characters><CharactersWithSpaces>475</CharactersWithSpaces><Paragraphs>55</Paragraphs></Properties>