<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>418</TotalTime><Application>LibreOffice/6.4.7.2$Linux_X86_64 LibreOffice_project/40$Build-2</Application><Pages>2</Pages><Words>216</Words><Characters>1078</Characters><CharactersWithSpaces>1265</CharactersWithSpaces><Paragraphs>68</Paragraphs></Properties>